body {

  background-color:GoldenRod;

    h1{
      text-align:center;
    }
    p{
      text-align:left;
    }
  }
.div-1{
    background-color: white;
    text-align:center;

}
.div-2{
  background-color: green;
  text-align: left;
}
.div-3{
  background-color: blue;
  text-align: left;

}
.div-4{
  background-color: purple;
  text-align: left;
}
.div-5{
  background-color: orange;
  text-align: left;
}
img{
  text-align:right;
  width:50%;
}
