body {

  background-color:GoldenRod;

    h1{
      text-align:center;
    }
    p{
      text-align:left;
    }
  }
.div-1{
    background-color: white;
    text-align:center;
    height: 50px;
    width: 50px;
}
.div-2{
  background-color: green;
  text-align: left;
  width:50px;
  height:50px;
}
.div-3{
  background-color: blue;
  text-align: left;
  width: 50px;
  height: 50px;
}
img{
  text-align:right;
  width:128px;
  height:150px;
}
